*, *::before, *::after{
    margin: 0;
    
    box-sizing: border-box;
    animation-timeline: view();
    animation-range: entry 0%;
}
a{
    color: white;
    text-decoration: none;
}
p{
    max-width: 450px;
    color: hsl(200, 15%, 43%);
    line-height: 1.8;
    margin-bottom: 25px;
}

.title-p{
    font-size: 18px;
    font-weight: 600;
    padding: 5px 20px;
    background: hsla(9, 100%, 62%, 0.1);
    width: max-content;
    border-radius: 50px;
    margin-bottom: 15px;
    color:hsl(9, 100%, 62%);
}
button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}
body{
    background: hsl(0, 0%, 100%);
    overflow-x: hidden;
    background-color: #ffffff;
}
a:hover{
    color: hsl(9, 100%, 62%);;
}

ul{list-style: none;}
button{
    background:hsl(9, 100%, 62%);
    color: rgb(255, 255, 255);
}
button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.header{
    background-color: hsl(200, 69%, 14%);
    width: 100%;
    height: 156px;
}
.header .header-top{
    width: 100%;
    height: 50px;
}
h1{font-weight: 800;}
.container-top .nav-top .logos-top1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-top .nav-top .logos-top1 ul{
    display: flex;
    justify-content: space-between;
    margin: 13px;
    margin-left: 5%;
    list-style: none;
    
    
}
.container-top .nav-top .logos-top1 ul li {
    margin-right: 20%;
    color: wheat;
}

.container-top .nav-top .logos-top2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-top .nav-top .logos-top2 ul{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 14px;
    right: 19%;
    list-style: none;   
    gap: 3px
}
.container-top .nav-top .logos-top2 ul li{
    margin-right: 20%; 
}
.fa-envelope:before {
    content: "\f0e0";
    position: absolute;
    top: 18px;
    left: 78PX;
    color: hsl(9, 100%, 62%);
    font-size: 15px;
    --ionicon-stroke-width: 60px;
}

.fa-location-dot:before{
    position: absolute;
    top: 18px;
    left: 20%;
    color:hsl(9, 100%, 62%);
    font-size: 15px;
    --ionicon-stroke-width: 60px;

}
.header-top-social-link{
    color: white;
    
}
.header-btn-top{
    position: absolute;
    top: 3px;
    right: 5%;
    background:hsl(9, 100%, 62%);
    color:white;
    font-size: 15px;
    font-weight: 500;
    height: 43px;
    width: 128px;

}
.header-btn-top:hover{
    background-color: rgba(7, 0, 0, 0.76);
}

.header-bottom{
    background-color: aliceblue;
    height: 68%;
    width: 100%;
}
.header-bottom .container-bottom {
    margin: 0;
        background-color: white;
    height: 100%;
}
.header-bottom .container-bottom .nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-bottom .container-bottom .nav-bottom  img{
    padding-left: 35%;
}
.header-bottom .container-bottom .nav-bottom .info-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 9%;
    padding-left: 70px;
    padding-bottom: 8%;
    flex-basis: 10px;
}
.header-bottom .container-bottom .nav-bottom .logo-bottom{
    margin: 40px;
}
.text-bottom{
    color: black;
font-size: 18px;
font-weight: 500;
}
.header-bottom-logo{
    background:white;
    color: black;
    width: 50px;
    height: 50px;
    margin: 5px;
    box-shadow:0 16px 32px hsla(188, 63%, 7%, 0.1);
}
.header-bottom-logo:hover{
    color: hsl(9, 100%, 62%);
}
.home{
    width: 100%;
    padding: 5%;
    background-color: aliceblue;
}
.home .container-home{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home .container-home .info-home{
    width: 100%;
    margin: 30px;
}
.info-home .logo-home{
height: 34px;
font-size:large ;
font-weight: 500;
}
.info-home .logo-home i{
    color:hsl(9, 100%, 62%) ;
}
.info-home .text-home h1{
    font-size: 3.125rem;
    line-height: 1;
    }

.info-home .text-home p {
    padding-left: 30px;
    max-width: 450px;
    margin-bottom: 40px;
    color: hsl(200, 15%, 43%);
    line-height: 1.8;
    border-left: 1px solid;
}
.button-home{
    font-weight: 500;
    height: 53px;
    width: 172px;}
.button-home{
    display: flex;
    justify-content: center;
}

.container-home .img-home{
width: 100%;
}
.container-home .img-home img{
width: 100%;
}
.animate__backInDown{
    --animate-duration: .4s;
}
.animate__fadeInDown{
    --animate-duration: .5s;
}
.animate__backInLeft,.animate__backInRight{
    --animate-duration:1s;
}
.about{
    padding: 10%;
    margin: 0;
}
.about .container-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .container-about .img-about .about-2{
    height:35%;
    position: absolute;
    left: 0%;
    margin: 30%;
    margin-left: 10%;
    border-radius: 4px;
}
.about .container-about .info-about .text-about{  
    margin: 0;
    box-sizing: border-box;
}

.info-about .text-about h1{
    font-size: 2.9rem;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.info-about .text-about .title-p{
        color:hsl(9, 100%, 62%);
}
.info-about .text-about p{
    padding-left: 30px;
    max-width: 450px;
    margin-bottom: 40px;
    color: hsl(200, 15%, 43%);
    line-height: 1.8;
}
.info-about .text-about .icons-about{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    width: 82%;
}
.info-about .text-about .icons-about i{
    color:hsl(9, 100%, 62%);
    font-size: 18px;
    border-radius: 50%;
    background-color: hsl(7, 56%, 91%);
}
.icons-about ul{
    padding-left: 30px;
    max-width: 450px;
    margin-bottom: 40px;
    color: hsl(200, 15%, 43%);
    line-height: 1.8;
}
.out-2{
    border-left: 4px solid hsl(9, 100%, 62%);
    background-color: hsl(7deg 78% 53% / 5%);
    padding: 20px 25px;
}
.button-about button{
    font-weight: 500;
    height: 53px;
    width: 172px;
}
.service{
    width: 100%;
    background-color:aliceblue;
    padding: 10%;
}
.container-service{
    width: 100%;
    margin: 0;
}
.service .container-service .info-ser{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service .container-service .info-ser h1{
    font-weight: 800;
    margin-bottom: 50px;
}
.service .container-service .boxs-ser{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.service .container-service .boxs-ser .box-ser{
    width: 33%;
    box-shadow:0 16px 32px hsla(188, 63%, 7%, 0.1);
    background: white;
    text-align: center;
    padding: 40px 30px;
}
.service .container-service .boxs-ser a{
    color: black;
}
.service .container-service .boxs-ser a:hover{
    color: hsl(9, 100%, 62%);;
}
.service .container-service .boxs-ser p{
    max-width: 450px;
    color: hsl(200, 15%, 43%);
    line-height: 1.8;
    margin-bottom: 25px;
}
.property{
    width: 100%;
    padding: 5%;
    background-color: rgb(253, 253, 253);
}
.property .container-property{
    width: 100%;
    margin: 0;
}
.property .container-property .info-property h1{
    font-weight: 800;
}
.property .container-property .info-property{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6%;
    font-weight: 700;
}
.property .container-property .content-property{
    width: 100%;
}
.container-property .content-property .boxs-property{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-property .boxs-property .big-box{
    width: 100%;
    gap: 25px; 
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.content-property .boxs-property .big-box .box-property{
    box-shadow:0 16px 32px hsla(188, 63%, 7%, 0.1);
    text-align: center;
    border:1px solid hsl(210, 100%, 97%);;
}
.content-property .boxs-property .big-box .img-property img{
width: 100%;
overflow: hidden;
height: 100%;
transition: 0.5s ease;
}
.content-property .boxs-property .big-box img:hover{
    transform: scale(.9);
}

.for-rent{
    position: absolute;
    margin-top: -22%;
    margin-left: 8%;
    background-color: green;
    font-size: 16px;
    font-weight: 600;
    width: 6%;
    text-align: center;
}
.for-rent-2{
    position: absolute;
    margin-top: -22%;
    margin-left: 8%;
    background-color: hsl(9, 100%, 62%);
    font-size: 16px;
    font-weight: 600;
    height: 4%;
    width: 6%;
    text-align: center;
}
.property-address{
    position: absolute;
    margin-top: -2%;
    margin-left: -12%;
}
.info-property address i{
    position: absolute;
    margin: -13px;
    margin-left: -19px;
}
.icon-photo-property{
    display: flex;
    position: absolute;
    margin-top: -26px;
    margin-left: 19%;
    gap: 12px;
    text-align: center;
}
.icon-photo-property i{
    margin: 5px;
}
.price-property{
    font-size: 1.5rem;
    font-weight: 600;
    color:hsl(9, 100%, 62%);
}
.text-property h3{
    color: black;
    font-weight: 700;
}
.text-property h3:hover{
    color:hsl(9, 100%, 62%);
}
.big-box-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-bottom {
    padding-right: 15px;
    border-right: 1px solid hsla(0, 0%, 0%, 0.2);
    margin-right: 20px;
}
.our{
    padding: 10%;
    width: 100%;
    background-color: aliceblue;
}
.containar-our{
    width: 100%;
}
.containar-our .info-our{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containar-our .info-our h1{
    font-weight: 800;
    padding-bottom: 5%;
}
.containar-our .boxs-our{
    width: 100%;
}
.boxs-our .cards-our{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px
    
}
.boxs-our .box-our{
    width: calc(25% - 30px);
    position: relative;
    background: white;
    padding: 40px 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);;
    text-align: center;
}
.icon-our{
    width: 100px;
    height: 100px;
    font-size: 45px;
    border-radius: 50%;
    color:hsl(9, 100%, 62%);
    background-color: hsl(8, 100%, 97%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 47px;

}
.boxs-our h3{
    color: black;
    padding: 10px;
}
.icon-our-bottom{
    background: white;
    color: cadetblue;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px hsla(219, 56%, 21%, 0.1);
}
.blog{
    width: 100%;
    padding: 5%;
    background-color: rgb(253, 253, 253);
}

.blog .container-blog{
    width: 100%;
    margin: 0;
}
.blog .container-blog .info-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6%;
    font-weight: 700;
}
.container-blog .content-blog .boxs-blog ,.big-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}
.content-blog .boxs-blog .big-box .box-blog{
    box-shadow:0 16px 32px hsla(188, 63%, 7%, 0.1);
    text-align: center;
    width: 100%;

}
.content-blog .boxs-blog .big-box .img-blog img{
width: 100%;
height: 100%;
overflow: hidden;
transition: 0.5s ease;
}
.img-blog img:hover{
    transform: scale(0.9);
}

.text-blog h3:hover{
    color:hsl(9, 100%, 62%);
}
.text-blog .by-admin{
    display:flex ;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.text-blog i{
    color:hsl(9, 100%, 62%);
    margin-top: -25px;
}
.text-blog h3{
    color: black;
    font-weight: 700;
    text-align:left;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2); ;
    padding: 10px;
}
.text-blog p{
    font-weight: 500;
}
.text-blog p:hover{
    color:hsl(9, 100%, 62%);
}
.text-blog .bottom-p-bold{
    text-align: left;
}
.text-blog .bottom-p-bold i{
    margin: 0 5px;
}
.text-blog .bottom-a-bold{
    color:hsl(9, 100%, 62%);
    position: absolute;
    margin-top: -50px;
    margin-left: 5%;
    font-weight: 600;
}
.cta {
    padding:10% ;
    background: linear-gradient(to bottom, white 50%, hsl(227, 29%, 13%) 50%);
}
.container {
    max-width: 1200px;
}
.cta-card {
    --fs-2: 2.25rem;
    padding-inline: 60px;
    background:hsl(9, 100%, 62%);
    padding: 50px 25px;
    box-shadow: 0 16px 32px hsla(188, 63%, 7%, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.cta-card .card-title {
    color: white;
    line-height: 1.3;
    margin-bottom: 15px;
}
.cta-card .card-text {
    color: white;
    font-size: 1rem;
    line-height: 1.8;
    
}
.cta-card :is(.card-content, .cta-btn) {
    margin: 0;
}
.btn {
    padding: 15px 40px;
}
.cta-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    background-color: white;
    box-shadow: 0 16px 32px hsla(188, 63%, 7%, 0.1);
    border-color: white;
    margin-inline: auto;
}
.footer {
    font-size: 1rem;
    background:hsl(227, 29%, 13%);
    color:white ;
}
.footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
}
.footer-top .container {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
}
.footer-brand {
    max-width: 300px;
    margin-bottom: 0;
}
.footer-brand .logo {
    margin-bottom: 15px;
    color: white;
}
.footer-link-box {
    flex-basis: 700px;
    display: flex;
        justify-content: space-between;
        gap: 20px;
}
.footer-link-box li{
    margin-bottom: 25px;
}
.footer-link-box li p{
    font-weight: 600;
    color: white;
    font-size: 21px;
}
.section-text {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 30px;
    max-width: 45ch;
    color: white;
    
}
.contact-list {
    display: grid;
    gap: 15px;
    margin-bottom: 30px;
}
.social-list {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-link-box {
    flex-basis: 700px;
}
.footer-list:not(:last-child) {
    margin-bottom: 50px;
}
.footer-bottom {
    background-color:hsl(229, 17%, 19%);
    padding-block: 25px;
}
.footer .container {
    padding-inline: 30px;
}
.copyright {
    font-size: 1rem;
    text-align: center;
}
.logos-footer{
    display: flex;
        align-items: center;
        list-style: none;
        gap: 3%;
}
